*DS_Store
ios/Podfile.lock
ios/TeamTalk.xcworkspace/xcshareddata
ios/TeamTalk.xcworkspace/xcuserdata
server/src/libsecurity/android/obj

*/http_msg_server
*/msg_server
*/db_proxy_server
*/login_server
*/push_server
*/file_server
*/msfs/msfs


.vscode


docker/im_server/


server/src/slog/liblog4cxx*
server/run/*_server
server/src/*_server/*_server
